.interna-portfolio {
  background: url("../img/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}

.quote_clientes {
  padding: 60px 0;
  max-width: 460px;
  margin: 0 auto;
}

.quote_clientes p {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  line-height: 25px;
  padding-bottom: 10px;
}

.quote_clientes cite {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  font-style: normal;
  padding-left: 150px;
  text-transform: uppercase;
}
