.interna-sobre {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}

.missao_sobre {
  padding-top: 50px;
}

.missao_sobre p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.missao_sobre ul li {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0.5em;
  padding-right: 60px;
}

.subtitulo-interno {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 30px;
  margin-bottom: 20px;
}

.subtitulo-interno:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0;
}
.foto-equipe {
  padding-top: 50px;
}
