/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  border: 4px solid #fec63e; /*Amerelo*/
  padding: 12px 22px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fec63e;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.btn.btn-preto:hover {
  color: #000;
  border-color: #000;
}

.subtitulo {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: center;
  margin-bottom: 39px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}

.header_menu ul li a.menu_ativo {
  color: #fff;
}
/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63e;
  padding: 9px 0;
  z-index: 10;
}
.header_menu {
  text-align: right;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}
.header_menu ul li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000000;
  line-height: 20px;
  padding: 10px 10px;
}

.header_menu ul li a:hover {
  color: #ffffff;
}
/* Introdução */
.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 80px;
  text-align: center;
  padding-top: 80px;
}

.introducao h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  color: #ffffff;
}

.quote-externo {
  margin-bottom: 52px;
}
.quote-externo p {
  max-width: 262px;
  margin: 0 auto;
  padding-top: 11px;
  font-style: italic;
  line-height: 20px;
  color: #ffffff;
}
.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.1em;
}

/*Introdução Interna*/
.introducao-interna {
  margin-top: 80px;
  width: 100%;
  height: 160px;
  text-align: center;
  color: #fff;
  padding-top: 35px;
}

.introducao-interna h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
}

.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 6px auto 10px auto;
}

.introducao-interna p {
  text-transform: capitalize;
}
/* Produtos */
.produtos {
  padding: 61px 0;
}

.produtos_lista li {
  background: #fec63e;
  text-align: center;
}

.produtos_lista li img {
  margin: 0 auto;
}

.produtos_icone {
  background: #000;
  padding: 42px 50px;
}

.produtos_lista li h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding-top: 15px;
}

.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 4px auto;
}

.produtos_lista li p {
  padding: 19px 20px;
}

.call {
  text-align: center;
  padding-top: 45px;
  clear: both;
}

.call p {
  margin-bottom: 28px;
}

/*Portfólio*/
.portfolio {
  width: 100%;
  background: #000;
  padding: 22px 0;
}

.portfolio .subtitulo {
  color: #fec63e;
}

.portfolio .subtitulo:after {
  background-color: #fec63e;
}

.portfolio_lista li:last-child {
  margin-top: 20px;
}

.portfolio .call {
  padding-top: 38px;
  padding-bottom: 20px;
}
.portfolio .call p {
  color: #fff;
  padding-bottom: 28px;
  margin-bottom: 0;
}
/*Qualidades*/
.qualidade {
  padding: 61px 0;
}

.qualidade .call .btn {
  /*Corrigido botão por conta do padding*/
  padding: 12px 44px;
}
.qualidade:after {
  content: "";
  width: 623px;
  height: 82px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  top: 214px;
  right: 167.5px;
  z-index: -1;
}
.qualidade img {
  margin: 0 auto;
}

.qualidade_lista {
  padding-top: 25px;
}
.qualidade_lista li {
  text-align: center;
  padding: 0 30px;
}
.qualidade_lista li h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding-top: 15px;
}

.qualidade_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

/*Quebra*/
.quebra {
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 35px;
}

.quebra .quote-externo p {
  max-width: 400px;
}

/*Footer*/
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-bottom: 32px;
}

.footer_historia {
  padding-right: 80px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer_redes ul li a img {
  border: 3px solid #fec63e;
  padding: 10px;
}
.footer_redes ul li a img:hover {
  border-color: #fff;
  transition-duration: 1s;
}
.footer h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 20px;
  color: #fec63e;
  padding-top: 20px;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fec63e;
  margin: 7px 0 12px 0;
}

.copy {
  width: 100%;
  background-color: #fec63e;
  padding: 22px 0;
  color: #000;
}
[data-slide] {
  position: relative;
}

/*JAVASCRIPT*/
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}
.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #1d1d1d;
}
.js [data-slide-nav] button.active {
  background: #fec63e;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js [data-anime] {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}

.nao-aparece {
  visibility: hidden;
  position: absolute;
  height: 0px;
}

#form-erro {
  color: #31aa39;
}

#form-sucesso {
  color: #f64540;
}
